@use "screen_ratios" as *;

html[data-color-mode="dark"] {
  header > img {
    filter: brightness(0) invert(1);
  }
}

$padding: 7px;

header {
  background-color: var(--ds-header);
  width: 100%;
  position: fixed;
  top: 0;
  padding: $padding;
  box-shadow: var(--ds-separator);

  & > img {
    width: 40px;
    display: block;
  }

  .header-right-position {
    position: absolute;
    right: $padding;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: $tabletMinWidth) {
  $padding: 10px;

  header {
    padding: $padding;

    & > img {
      width: 50px;
    }

    .header-right-position {
      right: $padding;
    }
  }
}

@media screen and (min-width: $computerMinWidth) {
  $padding: 15px;

  header {
    padding: $padding;

    & > img {
      width: 55px;
    }

    .header-right-position {
      right: $padding;
    }
  }
}
